version: '3.8'

services:
  app:
    container_name: scholabintang_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:80"
    volumes:
      # Mount the data directory to persistent storage on the host
      - ./data:/app/data
    environment:
      - NODE_ENV=production
